@page "/clientes"
@using crud_blazor_server.Data
@using crud_blazor_server.Models
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Context;

<h1>Clientes</h1>

<a href="clientes/create" class="btn btn-primary"><i class="oi oi-plus"></i> Novo </a>
<table class="table">
    <thead>
    <tr>
        <td>#</td>
        <td>Nome</td>
        <td>e-mail</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var cliente in _clientes)
    {
        <tr>
            <td>@cliente.Id</td>
            <td>@cliente.Nome</td>
            <td>@cliente.Email</td>
            <td>
                <a href="/clientes/edit/@cliente.Id">Editar</a>
                <a href="/clientes/delete/@cliente.Id">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<Cliente> _clientes = new();

    protected override async Task OnInitializedAsync()
    {
        _clientes = await Context.Clientes.AsNoTracking().ToListAsync();
    }

}